.cart-container {
    margin: 0 150px;
    padding: 20px;
    border-radius: 8px;
    background-color: #A8BDCC7C;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cart-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #DDD;
}

.cart-item:last-child {
    border-bottom: none;
}

.select-product {
    position: relative;
    min-width: 20px;
    height: 20px;
    border: 2px solid #6A93AA9F;
    border-radius: 3px;
    cursor: pointer;
}

.cart-item img {
    object-fit: cover;
    width: 10vw;
    margin: 0 1.5vw;
    border-radius: 4px;
}

.product-info {
    flex-grow: 1;
}

.product-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.product-details {
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: #000000;
}

.empty-cart-message {
    text-align: center;
    margin-top: 20px;
    padding: 50px;
    font-size: 1.5em;
    color: #555;
}


.remove-button {
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    background-color: #6A93AA9F;
}

.remove-button:hover {
    background-color: #246A73;
}

.buy-button {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    background-color: #6A93AA9F;
}

.buy-button:hover {
    background-color: #246A73;
}

.remove-selected-button {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    background-color: #6A93AA9F;
}

.remove-selected-button:hover {
    background-color: #246A73;
}

@media only screen and (max-width: 690px) {
    .cart-container {
        margin: 0 70px;
        padding: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .cart-container {
        margin: 0 10px;
        padding: 20px;
    }
}