* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.menu {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    background-color: #2A6A73;
    color: #fff;
    right: 15px;
    top: 15px;
    z-index: 100;
}

.sidebar {
    display: flex;
    position: fixed;
    width: 250px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    overflow: hidden;
    background-color: #2A6A73;
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
    z-index: 50;
}

.mini-sidebar {
    width: 100px;
}

.sidebar span {
    width: 100px;
    white-space: nowrap;
    text-align: left;
    font-size: 18px;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.sidebar span.oculto {
    width: 0;
    opacity: 0;
}

.sidebar .name-page {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    color: #fff;
}

.sidebar .name-page img {
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.sidebar .name-page span {
    margin-left: 5px;
    font-size: 25px;
}

.sidebar .navigation {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .navigation::-webkit-scrollbar {
    width: 5px;
}

.sidebar .navigation::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #C0C0C0;
}

.sidebar .navigation::-webkit-scrollbar-thumb:hover {
    background-color: #868686;
}

.sidebar .navigation .list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    list-style: none;
}

.sidebar .navigation a {
    display: flex;
    height: 45px;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.sidebar .navigation a:hover {
    background-color: var(--color-menu-hover);
    color: #fff;
}

.sidebar .navigation img {
    width: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

main {
    box-sizing: border-box;
    height: 100%;
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}

main.min-main {
    margin-left: 100px;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .6s ease-in-out, opacity .7s ease-in-out;
}

.submenu-visible {
    max-height: 100px;
    opacity: 1;
}

.section {
    height: 100%;
}

.principal-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.principal-content-container img {
    width: 400px;
    animation: waterDrop 4s linear infinite;

}

.principal-content-container p {
    font-size: 2rem;
}

.principal-content-container span {
    font-size: 2.3rem;
    color: #2A6A73;
}

.view-title {
    display: flex;
    font-size: 1.3rem;
    color: #2A6A73;
    margin-bottom: 10px;
}

.view-searchbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 30px 0 12px 0;
    padding: 10px;
    gap: 20px;
    background-color: #2A6A73;
}

.view-searchbar label {
    font-size: 1.2rem;
    color: #fff;
}

.view-searchbar input,
.view-searchbar button {
    padding: 2px;
    font-size: 1.1rem;
    color: #555555;
    background-color: #fff;
}

.view-searchbar button {
    cursor: pointer;
    transition: transform .4s ease-in-out;
}

.view-searchbar button:hover {
    transform: scale(1.1);
}

.view-container {
    width: 100%;
    max-height: 73%;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-user-select: none;
    user-select: none;
}

.table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

.table thead {
    background-color: #2A6A73;
    color: #fff;
}

.table tbody tr:hover {
    background-color: #F1F1F1;
}

.table td,
.table th {
    padding: 10px;
    text-align: center;
    border: 2px solid #B0BEC5;
}

.table th {
    padding: 1rem;
}

td button {
    border: none;
    background-color: inherit;
}

td img {
    width: 150px;
}

.options {
    margin: 4px;
    width: 27px;
    cursor: pointer;
    transition: transform .3s ease-in;
}

.options:hover {
    transform: scale(1.1);
}

dialog {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: -4px -1px 46px 1px rgba(0, 0, 0, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

dialog::backdrop {
    background: rgba(42, 106, 105, 0.4);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;    
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.form-group label {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #246A73;
}

.form-group input,
.form-group textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group button,
.button-close button {
    max-width: 150px;
    margin: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    color: #fff;
    transition: transform .5s ease-in-out;
    background-color: #6A93AA9F;
}

.button-close {
    display: flex;
    justify-content: end;
}

.form-group button:hover,
.button-close button:hover {
    transform: scale(1.1);
    background-color: #246A73;
}

.orders-message {
    display: flex;
    height: 700px;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.register-container {
    padding: 10px;
}

.register-container form {
    border: 3px solid #CCC;
    border-radius: 20px;
    background-color: rgba(42, 106, 105, 0.4);
}

.register-section {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    padding: 16px;
    border: 2px solid #CCC;
    box-shadow: -13px 13px 14px 4px rgba(42,106,105,0.9);
    background-color: #fff;
    transition: transform .5s ease-in-out;
}

.register-section textarea {
    height: 280px;
}

.register-section span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #246A73;
}

.edit-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.manga-image-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.manga-image-register {
    width: 80%;
    max-width: 165px;
}

.register-image {
    display: flex;
    max-width: 250px;
}

@keyframes waterDrop {
    0% {
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }

    50% {
        transform: translateY(20px) scaleY(1.2);
        opacity: 0.8;
    }

    70% {
        transform: translateY(10px) scaleY(1);
        opacity: 0.9;
    }

    100% {
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
}

@media (max-height: 660px) {
    .sidebar .name-page {
        margin-bottom: 5px;
    }
}

@media (max-width: 600px) {
    .sidebar {
        position: fixed;
        left: -250px;
    }

    .max-sidebar {
        left: 0;
    }

    .menu {
        display: flex;
    }

    .menu span:nth-child(2) {
        display: none;
    }

    main {
        margin-left: 0;
    }

    main.min-main {
        margin-left: 0;
    }

}

@media (max-width: 340px) {
    .principal-content-container img {
        width: 100vw;
    }

    .view-searchbar input {
        width: 100%;
    }
}