body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    background-color: #FFF;
}

.cart {
    display: flex;
    align-items: center;
}

.cart a {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.cart img {
    width: 30px;
}

.cart-count {
    font-size: 1.4rem;
    font-weight: bold;
    color: #246A73;
}


.title-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease-in-out;
}

.cart a:hover,
.title-logo:hover {
    transform: scale(1.2);
}

.title-logo a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

.title-logo img {
    width: 100px;
    cursor: pointer;
}

.title-logo h1 {
    font-size: 2rem;
    font-style: oblique;
    cursor: pointer;
    color: #246A73;
}

.dropdown-menu {
    display: flex;
    align-items: center;
}

.menu-icon,
#menu-toggle {
    display: none;
}

#menu-toggle:checked~.dropdown-menu {
    transform: scaleY(1);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    list-style: none;
}

.menu-item {
    position: relative;
    transition: transform .5s ease-in-out;
}

.menu-item:nth-child(1):hover,
.menu-item:nth-child(2):hover {
    transform: scale(1.2);
}

.menu-item a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #246A73;
}

.profile-header {
    width: 35px;
}

.submenu {
    display: none;
    position: absolute;
    min-width: 200px;
    top: 100%;
    left: -150px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    background-color: #FFF;
    z-index: 2;
}

.submenu li {
    padding: 8px 12px;
}

.submenu li:hover {
    background-color: #246A73;
}

.submenu li:hover a {
    color: #FFF;
}

.submenu.show {
    display: block;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFF;
}


.footer-content {
    display: flex;
    justify-content: space-around;
    gap: 300px;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    color: #1E2D5E;
}

.social-media-container a {
    display: inline-flex;
    align-items: center;
    margin: 5px;
    color: #FFF;
}

.cuadrado {
    width: 30px;
    line-height: 30px;
}

.facebook img {
    width: 10px;
}

.social-media-container a span.titulo {
    margin: 0 20px;
    font-size: 1.1rem;
    transition: all 200ms linear;
}

.social-media-container a:hover span.titulo {
    color: #FFF;
}

.gplus img {
    width: 15px;
}

.social-media-container .facebook:hover,
.social-media-container .gplus:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.social-media-container .facebook {
    border: 2px solid #3B5998;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.social-media-container .facebook:hover,
.social-media-container .facebook span.cuadrado {
    background: #3B5998;
}

.social-media-container .facebook span.titulo {
    color: #3B5998;
}

.social-media-container .gplus {
    border: 2px solid #D64136;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.social-media-container .gplus:hover,
.social-media-container .gplus span.cuadrado {
    background: #d64136;
}

.social-media-container .gplus span.titulo {
    color: #d64136;
}

.newsletter {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newsletter h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #1E2D5E;
}

.newsletter p {
    margin: 3px 0 4px;
}

form input {
    margin: 10px;
    font-size: 1rem;
}

form button {
    font-size: 1rem;
    padding: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #6A93AA9F;
}

form button:hover {
    background-color: #246A73;
}

.footer-copy {
    color: #1E2D5E;
}

.footer-copy a {
    color: #465F85;
}

@media only screen and (max-width: 730px) {
    .footer-content {
        display: inline-block;
    }

    .newsletter p {
        text-align: center;
    }

    .newsletter h2 {
        text-align: center;
    }

    .footer-copy {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .cart {
        order: 1;
    }
}

@media only screen and (max-width: 500px) {
    .dropdown-menu {
        position: absolute;
        z-index: 1;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
    }

    .menu {
        margin: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
        padding: 4% 40% 4% 40%;
        background-color: #FFF;
    }

    .menu-icon {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px;
        font-size: 2rem;
        cursor: pointer;
        color: #246A73;
    }

    .submenu {
        left: -32px;
    }
}